<div class="logo">
    <a class="simple-text logo-mini">
        <i class="nc-icon nc-bank"></i>
    </a>
    <a class="simple-text logo-normal" style="cursor:pointer">
        Mechanics Panel
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li id="viewRequests">
            <a href="@Url.Action("Index","Mechanic")">
                <i class="nc-icon nc-tile-56"></i>
                <p>View Requests</p>
            </a>
        </li>
    </ul>
</div>

