
@{
    ViewBag.Title = "Customers";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Customers</h4>
        </div>
        <div class="card-body">
            <table class="table" id="tableData">
                <thead class="text-primary">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Last Name
                        </th>
                        <th>
                            User Name
                        </th>
                        <th>
                            Mobile
                        </th>
                        <th>
                            Car Type
                        </th>
                    </tr>

                    <tr hidden id="dataRow">
                        <td id="No"></td>
                        <td id="firstName"></td>
                        <td id="lastName"></td>
                        <td id="userName"></td>
                        <td id="mobile"></td>
                        <td id="carType"></td>
                    </tr>

                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#customers").addClass("active");
        });
    </script>
<script src="~/CustomFiles/js/Admin/get-all-customers.js"></script>
}